<h1>Hello Knockout</h1>
<p>This is basically going to be a test of how different routing solutions works. </p>
<ul>
  <li><a href="<%= sammy_path %>">Sammy</a></li>
  <li><a href="<%= pager_path %>">Pager</a></li>
</ul>

