<h1>Sammy</h1>
<ul>
  <li><a href="#1">page1</a></li>
  <li><a href="#2">page2</a></li>
  <li><a href="#3">page3</a></li>
</ul>
<div data-bind="visible: pageNum() === '1'">
  <div class="page">
    page1
  </div>
</div>
<div data-bind="visible: pageNum() === '2'">
  <div class="page">
    page2
  </div>
</div>
<div data-bind="visible: pageNum() === '3'">
  <div class="page">
    page3
  </div>
</div>